body {
    background-image: url('bg.png');
    margin: 0; /* Add margin to remove default body margin */
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    position: relative;
}
/* nav bar start */
.container {
    background-color: #081B2E;
    font-family: 'Sansita', sans-serif;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
    position:sticky;
    z-index: 50;
}

.container img {
    width: 434px;
    height: 57px;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container ul li {
    margin-right: 20px;
}

.container ul li:last-child a {
    margin-right: 0;
    color:#388FE4;
}

.container ul li a {
    text-decoration: none;
    color: white;
}

.container ul li a:hover {
    color: #ccc;
}

.container ul :nth-child(6) {
    border: 3px solid white;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 35px;
} 
/* Style for the schedule sections */
.schedule-section {
    margin-top: 20px;
}

/* Style for time slot */
.time-slot {
    margin-bottom: 10px;
    
}

.delete-btn {
    margin-left: 10px;
}
h1{
    font-family: "Saira Stencil One", sans-serif;
    font-size: 40px;
    color: #081B2E;
    text-align: center;
    text-decoration: none;
}
#scheduleForm{
    text-align: center;
}
h2{
    font-family: "Saira Stencil One", sans-serif;
    font-size: 40px;
    color: #081B2E;
    text-align: center;

}
.schedule-section{
    display:flex;
    gap: 50px;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

button{
    background-color: #56b80c;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    font-size: 20px;
    font-family: 'Sansita', sans-serif;
    height:40px;
    border: 2px solid #000000;
    text-align: center;
}
button:hover{
    background-color: #316b04;
}
label{
    font-size: 25px;
}
#availabilityDate,#time1, #time2{
    padding: 8px;
    font-size: 14px;
    border: 2px solid #000000;
    border-radius: 15px;
    width: 200px; /* Adjust width as needed */
    background-color: #6cb5ff;
    font-weight: bold;
}
.delete-btn{
    background-color: rgb(245, 68, 68);
}
.delete-btn:hover{
    background-color: rgb(146, 11, 11);
}