body {
    background-image: url('bg.png');
    margin: 0; /* Add margin to remove default body margin */
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    position: relative;
}
/* nav bar start */
.container {
    background-color: #081B2E;
    font-family: 'Sansita', sans-serif;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
    position:sticky;
    z-index: 50;
}

.container img {
    width: 434px;
    height: 57px;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container ul li {
    margin-right: 20px;
}

.container ul li:last-child a {
    margin-right: 0;
    color:#388FE4;
}

.container ul li a {
    text-decoration: none;
    color: white;
}

.container ul li a:hover {
    color: #ccc;
}

.container ul :nth-child(6) {
    border: 3px solid white;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 35px;
}
/* nav bar end */
  
.container1 {
    justify-content: center;
    align-items: center;
    height: 100vh;
    bottom: 0px;
  }
  
.steps {
    display: flex;
    flex-direction: column;
    align-items: justify;
    border-radius: 10px;
    width:max-content;
    margin-left:250px;
    margin-right:300px;
    margin-top:-50px
  }
  
.step {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: #081B2E;
    color: #ffffff;
  }
  
.step:hover {
    background-color: #1a5c9e;
  }
.container1 p{
    font-family: "Saira Stencil One", sans-serif;
    font-size: 40px;
    color:#081B2E;
    text-align: center;
    margin-left:100px;
    margin-top:0px
 
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: -160px;
    
  }
.button-left{
    padding: 10px 20px;
    background-color: #388FE4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    text-decoration: none;
    margin-left: 100px;
  
  }
  .button-right {
    padding: 10px 20px;
    background-color: #45a049;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    text-decoration: none;
    margin-right:100px
  }
  
  .button-left:hover{  background-color: #081B2E;
}
  .button-right:hover {
    background-color: #005a05;
  }