<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='appointments.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="container">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="logo" >
        <ul>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="{{ url_for('static', filename='explore.html')}}">SERVICES</a></li>
            <li><a href="{{ url_for('static', filename='joinourteam.html')}}">JOIN OUR TEAM</a></li>
            <li><a href="{{ url_for('static', filename='faq.html')}}">FAQ</a></li>
            <li><a href="{{ url_for('static', filename='developers.html')}}">DEVELOPERS</a></li>
            {% if 'user' in session %}
                <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>Appointments</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
            <th>Email</th>
            <th>Timestamp</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment['date'] }}</td>
            <td>{{ appointment['time'] }}</td>
            <td>{{ appointment['name'] }}</td>
            <td>{{ appointment['email'] }}</td>
            <td>{{ appointment['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table> 
    <br>
<button><a href="dashboard"> Back</a> </button>

</body>
</html>
