body {
    background-image: url('bg.png');
    margin: 0; /* Add margin to remove default body margin */
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    position: relative;
    text-align: center;
}
/* nav bar start */
.container {
    background-color: #081B2E;
    font-family: 'Sansita', sans-serif;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
    position:sticky;
    z-index: 50;
}

.container img {
    width: 434px;
    height: 57px;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container ul li {
    margin-right: 20px;
}

.container ul li:last-child a {
    margin-right: 0;
    color:#388FE4;
}

.container ul li a {
    text-decoration: none;
    color: white;
}

.container ul li a:hover {
    color: #ccc;
}

.container ul :nth-child(6) {
    border: 3px solid white;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 35px;
}
/* nav bar end */
table,th,td{
    background-color: #388FE4;
    border-radius:5px ;
    border: 2px solid #081B2E;

}
table{
    margin-left:300px;
    margin-right:100px;
    margin-top:20px;
    

}
th {
  background-color:#081B2E;
    color: #ffffff;}
button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #56b80c;;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #000000;
}